body{
    margin:0px;padding:0px;
    background-color:whitesmoke;

}
ul{
    margin:0px;
    padding:0px; list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    padding: 0px;
}
#wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;

}