#header{
    width:100%;
    display:flex;
    flex-direction:row;
    height:400px;
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
#header .logo{
    width:30%;   
}
#nav{
    width:100%;
    height: min-content;
    background:white;
    opacity: 0.7;
}
.logo img{
    width:120px;
    height:60px;
    margin: 5px 40px;
}

@media screen and (max-width: 1024px){

    #header{
        background-size:contain;
    }
}

@media screen and (max-width: 768px){

    #header{
        background-size:contain;
        height:300px;
    }
}

@media screen and (max-width: 414px){

    #header{
        height:120px;
        background-size:cover;
    }
    .logo img{
        width:60px;
        height:25px;
        margin-left:20px;
    }
}

@media screen and (max-width: 375px){

    #header{
        height:120px;
    }

    .logo img{
        width:60px;
        height:30px;
        margin-left:20px;
    }
}

@media screen and (max-width: 320px){
    #header{
        background-size:contain;
        height:120px;
    }
}